extends layout

block content

  .col-lg-12
    p.
      If you live in a swing riding, we believe that Strategic Voting is key. Yes, yes, voting for your favourite candidate no matter where you live would be ideal, but the world is not fair and sometimes you have to take one for the team. Not sure if or how to vote strategically? Here is some help.
    
  div.link-boxes
    .col-lg-6
      .link-box
        img(src="#")
    .col-lg-6
      .link-box
        img(src="#")
