extends layout

block content

  .col-lg-12
    p.
      If you live in a swing riding, we believe that Strategic Voting is key. Yes, yes, voting for your favourite candidate no matter where you live would be ideal, but the world is not fair and sometimes you have to take one for the team. Not sure if or how to vote strategically? Here is some help.
    
  div.link-boxes
    .col-lg-6.vcenter.border
      a(href="http://www.leadnow.ca/")
        img.img-responsive(src="images/leadnow.jpg" style="padding-top:150px;padding-bottom:103px;")
    .col-lg-6.vcenter.border
      a(href="http://www.strategicvoting.ca/")
        img.img-responsive(src="images/strategicvoting.png")
  
  .col-lg-12
    p.
      Federally we have three progressive political parties. That works to the advantage of the conservatives as the progressive vote is split. Not sure what that means or who the political parties are? .. Where in the world have you been? 
    
  div.link-boxes
    .col-lg-4
      a(href="https://www.liberal.ca/")
        img.img-responsive(src="images/liberal-logo.jpg")
    .col-lg-4
      a(href="http://www.greenparty.ca/en")
        img.img-responsive(src="images/logo_green_160_en_0.png")
    .col-lg-4
      a(href="http://www.ndp.ca/")
        img.img-responsive(src="images/ndp_logo.png")
