extends layout

block content
  //- h1= title
  
  .col-lg-6
    p.main-content. 
      Are you worried that Stephen Harper will be re-elected in on October 19th? We're scared shitless!  Well not quite, butt close.  This may seem as a smear campagin, and that's because it is.  It's high time we wipe the slate clean and elect a new leader to represent our true Canadian values.  We are offering 100% recycled toilet paper with the face of Harper pritinged on each and every square.  You can wipe yourself clean, gift to your friends or better yet, replace the T.P. at the local Legion Hall and watch the shit storm!  You can view our <a href="#">Indiegogo fundraising video</a> below and learn how to vote strategically <a href="howtovote">here</a>.  If this resonates with you but you don't feel like ordering the toilet paper, please share with your friends.  We need to reach as many voters across Canada. It's time to FLUSH HARPER out of power!
  .col-lg-6
    img.img-responsive(src="images/blackandwhiteharpershits.png")
  
  .col-lg-12
    div(style="width:100%;height:600px")
      span(style="position:absolute;top:50%;left:50%;") Put a cool video here    
