doctype html
html
  head
    title= title

    link(rel="stylesheet", href="/stylesheets/css/main.css")
    link(rel='stylesheet' href="bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(ref='stylesheet' href="bower_components/font-awesome/css/font-awesome.css")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
      
    //- link(rel='stylesheet' href='bower_components/pure/pure-min.css')
    //- <!--[if lte IE 8]>
    //- <link rel="stylesheet" href="bower_components/pure/grids-responsive-old-ie-min.css" >
    //- <![endif]-->
    //- <!--[if gt IE 8]><!-->
    //- <link rel="stylesheet" href="bower_components/pure/grids-responsive-min.css" >
    //- <!--<![endif]-->
    meta(name='viewport' content='width=device-width, initial-scale=1')
  body
    nav.navbar.navbar-default(style="padding-left:40px;padding-top:5px;")
      .navbar-header
        a(href="/" style="text-decoration:none;")
          h1(style="text-decoration:none;") Give a shit about Harper
          //img(src="images/tp1_logo.jpg" width="50px" )
          //img(src="images/blackandwhiteharpershits.png" width="100px")
          //img(alt="HarperSucks" src="holder.js/150x100")
        
        button.navbar-toggle(type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      .collapse.navbar-collapse#navbarCollapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href="howtovote") Butt, how?
          li
            a(href="order") Order
          //- li
          //-   a(href="contact") Contact Us  
          li(style="margin-top:-8px;")
            a(href="https://www.facebook.com/ifyougiveashitvote")
              i.fa.fa-facebook-square.fa-2x
          //- li
          //-   a(href="#")
          //-     i.fa.fa-twitter-square
            
    .container(style="min-height:95vh;")
      block content
        
    .footer.container-fluid
      .navbar-text
        span © 2015 - Site Built with <3 by 
          a(href="https://github.com/codeocelot") jrg
          
        
      
      
    script(src="bower_components/holderjs/holder.min.js")
    script(src="bower_components/jquery/dist/jquery.min.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
