extends layout

block content
  .col-lg-8.main-content
    p.  
      We are running this project non-profit. Here is the breakdown of the costs assuming we get at least a 500 roll order. All costs are per roll. Please order on our Indiegogo Fundraising page. Share with your friends. We need to get the word out!
    ul
      li.
        Custom Printed Toilet Paper: $7.25 (includes Illinois Sales Tax of 6.25%, CDN Exchange Rate) Don't believe us? Check out prices from our supplier, based on 500 minimum roll order
      li.
        American Shipping UPS: $1.20
      li.
        Import Duty: $1.00
      li.
        CDN Taxes (GST + PST): $0.90
      li.
        Shipping is same price for 1 to 3 rolls and varies only slightly from BC to Quebec and beyond: $10.50
    p.
      Total for 1 ROLL with NO shipping: $10.35 <br>
      Total for 1 ROLL with shipping: $20.85 <br>
      Total for 2 ROLLS with shipping: $31.20 (that's only $15.60 per roll!) <br>
      Total for 3 ROLLS with shipping: $41.55 (that's only $13.85 per roll!) <br>
      Total for 4 ROLLS with shipping: $51.90 (that's only $12.98 per roll!) <br>
    
    p.
      Expensive for a single roll of toilet paper? Definitely. But the joy of wiping your ass with Harper's face? <strong>Priceless.</strong>
    p.
      Please order on our <a href="https://www.indiegogo.com/projects/if-you-give-a-shit-vote-harper-toilet-paper#/story">Indiegogo Fundraising page</a>. Share with your friends. We need to get the word out!
  .col-lg-4
    img.img-responsive(src="images/tp1_logo.jpg" style="padding-top:50px;")

    
