extends layout

block content
  .col-lg-12.main-content
    h1.
      What We Need & What You Get
    h3.
      We have two basic asks if you want to help us roll out the campaign:
      
    ol
      li.
        We need you to share our video with your friends and family, to inspire as many Canadians to vote strategically.

      li.
        We would love it if you purchased some toilet paper, and more importantly, wiped your bum with it. Now we know these T.P. rolls are not cheap, but we are operating this campaign non-profit. Here is the breakdown of the costs. We searched for a local printer to no avail. A supplier from Illinois offered us the best price and fastest shipping. All prices below are per roll:

        Custom Printed Toilet Paper: $7.25 (includes Illinois Sales Tax of 6.25%, CDN Exchange Rate) Don't believe us? <a href="http://www.asi71068.com/")>Check out prices </a> from our supplier, based on 500 minimum roll order. 
      ul
        li.
          American Shipping UPS: $1.20
        li.
          Import Duty: $1.00
        li.
          CDN Taxes (GST + PST): $0.90
        li.
          Shipping is same price for 1 to 3 rolls and varies only slightly from BC to Quebec and beyond: $10.50
    h3 We Offer Five Perks: 
      //- <strong>We offer Five Perks:</strong>
    ul
      li.
        <strong>Perk #1:</strong> If you make a donation to our campaign by purchasing a roll, we will distribute your roll in a swing riding where we desperately need people to vote strategically. Total for 1 ROLL with NO shipping $11.00.
      li.
        <strong>Perk #2:</strong> If you want your own roll we will ship a roll directly to your house. Total for 1 ROLL with shipping: $22.00.
      li.
        <strong>Perk #3:</strong> If you want two rolls shipped directly to your house. Total for 2 ROLLS with shipping: $33.00 (that's only $16.50 per roll!)
      li.
        <strong>Perk #4:</strong> If you want three rolls shipped directly to your house. Total for 3 ROLLS with shipping: $43.00 (that's only $14.33 per roll!)
      li.
        <strong>Perk #5:</strong> If you want four rolls shipped directly to your house. Total for 4 ROLLS with shipping: $54.00 (that's only $12.98 per roll!)

    p.
      Expensive for a single roll of toilet paper? Definitely. But the joy of wiping your ass with Harper's face? <strong>PRICELESS</strong>.

    p.
      <strong>The Impact</strong>

    p.
      To the conservative advantage, Canada’s political landscape has split the progressive vote three ways. This has lead to the Harper Government winning the last election with 39% of the popular vote, but getting 100% of the power. We are at a time when progressive Canadians need to vote together and vote strategically. We want the next government to bring in some form of proportional representation, so no Canadian’s vote is wasted. We hope to make people laugh, discuss politics, pull up their pants and get out there and VOTE!

    p.
      <strong>Risks & Challenges</strong>

    p.
      We recognize time is short, but we have assurances from the printer that they can rush the job. We are confident we can execute receiving the American shipment and process the Canadian shipment and have the T.P. rolls in people’s hands 5 days prior to the election. Sufficient time for even the most bunged up supporters.

    p.
      <strong>Other Ways You Can Help</strong>

      Please share this video and educate yourself on how to vote strategically by checking out the websites below:</br>

    <a href="http://www.leadnow.ca/"> http://www.leadnow.ca/ </a>
    br
    <a href="http://www.strategicvoting.ca/">http://www.strategicvoting.ca/</a>
